appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
black==19.10b0
Click==7.0
colorama==0.4.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.1
pandas==0.25.3
pathspec==0.6.0
pygame==1.9.6
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
regex==2019.12.9
six==1.13.0
SQLAlchemy==1.3.12
toml==0.10.0
typed-ast==1.4.0
wrapt==1.11.2
